.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #999;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item span {
  flex-grow: 1;
}

.todo-item-buttons {
  display: flex;
  gap: 10px;
}

.todo-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-item button.edit-button {
  margin-right: 7px;
  background-color: #ffc107;
  color: white;
}

.todo-item button.edit-button:hover {
  background-color: #e0a800;
}

.todo-item button.delete-button {
  background-color: #dc3545;
  color: white;
}

.todo-item button.delete-button:hover {
  background-color: #c82333;
}
