.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-todos {
  text-align: center;
  color: #999;
  margin-top: 20px;
  font-size: 18px;
}

.todo-summary {
  text-align: right;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

/* .todo-summary span {
  color: #28a745;
} */
